*
{
	box-sizing:border-box;
}

@font-face
{
	font-family: 'NanumGothic';
	src: url(NanumGothic.ttf) format('truetype');
}
body
{
	padding:10px;
	font-family: NanumGothic;
	background: #eee;
}

.header
{
	padding :10px;
	text-align: center;
	background: #D8D8D8;
}

.header h1
{
	font-size: 40px;
}

.nav
{
	overflow:hidden;
	background-color: #374F68;
}

.nav a
{
	float:left;
	color:#ffffff;
	text-align: center;
	padding: 12px 12px;
	text-decoration: none;
}

.left
{
	float:left;
	width:75%;
}

.right
{
	overflow-x:hidden;
	overflow-y:hidden;
	max-width:100%;
	float: left;
	width: 25%;
	background-color: #eee;
	padding-left: 20px;
}

.right img
{
	overflow-x:hidden;
	overflow-y:hidden;
	max-width : 100%;
	width : 400px;
	height : auto;
	position : relative;
	left : 0px;
}


.fakeimg
{
	border-radius: 20px;
	background-color: #aaa;
	width:100%;
	padding:20px;
}

.card
{
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: #D8D8D8;
	padding : 20px;
	margin-top:20px;
}

.row:after
{
	content: "";
	display:table;
	clear:both;
}

.footer
{
	padding:10px;
	text-align: left;
	background: white;
	margin-top: 20px;
	background-color: #374F68;
}

.footer h2,p
{
  color:white;
}

.footer a
{
	color:white;
}

a
{
  text-decoration: none;
  color:black;
}

.footer img
{
	position : relative;
	left : 25px;
}

div img
{
	position : absolute;
	left:47px;
}

.card h3
{
	color : black;
	position : absolute;
	left : 280px;
	bottom : 535px;
}


.profile
{
	position: relative;
	left:250px;
	bottom : 250px;
}

.profile img
{
	position: absolute;
	left : -21px;
	bottom : -2px;
}

.profile p
{
	color: black;
	position: absolute;
	left : 10px;
	top : 40px;
}

.goal
{
	position: relative;
	left:250px;
	bottom : 255px;
}

.goal p
{
	color: black;
	position: absolute;
	left : 10px;
	top : 40px;
}

.goal img
{
	position: absolute;
	left : -21px;
	bottom : -7px;
}
